<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="mainstyle.css"> --}}
</head>
<body>
    <h1>Привет, {{ login }}!</h1>
    <h2>C {{ lastDateEmail }} появились новые публикации!</h2>
    <ul>
        {{#each posts}}
            <li><b>{{ title }}.</b> Автор публикации: {{author}}, пост собрал {{ likeCount }} &hearts;. Дата публикации: {{ publishedAt }} </li>
        {{/each}}
    </ul>
</body>
</html>