<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body>
    <h1>Привет, {{userName}}!</h1>
    <h2>C {{lastNotificationDate}} появились новые публикации!</h2>
    <ul>
      {{#each posts}}
        <li>
          {{#if imagePath}}
            <img src={{imagePath}} />
          {{else}}
            <b>"{{title}}"</b>
          {{/if}}
          <br />Автор публикации:
          {{author}}, пост собрал
          {{likeCount}}
          &hearts;. Дата публикации:
          {{publishedAt}}
        </li>
      {{/each}}
    </ul>
  </body>
</html>